body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

#calculator{
    height: 210px;
    width: 230px;
    background-color:lightskyblue;
    border: 3px solid gray;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#display{
    width: 200px;
    height: 50px;
    background-color: white;
    border: 3px solid gray;
    border-radius: 5%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons{
    border: 1px solid gray;
    border-radius: 4%;
    margin-left: 7px;
    margin-right: 7px;
    padding: 10px 10px 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

#numbers{
    height: 50px;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#operators{
    height: 50px;
    padding: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    background-color: white;
    width: 23px;
    height: 23px;
    margin: 1px;
}